.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 10px;
 
}
img{
  height: 150px;
  width: 150px;
  border-radius: 10px;
}
.item{
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 5px rgb(155, 155, 155);
 padding-bottom: 0.5rem;

}
.item_h3{
  margin-left: 0.5rem;
margin-top: -1rem;
}
.item_p{
  margin-left: 0.3rem;
  font-size: 0.8rem;
  position: relative;
  top: -6px;
  /* background: black; */
  margin-bottom: -2px;
  z-index: 1;
}
.rs{
  font-size: 0.9rem !important;
  position: relative;
  bottom: -2px;
}
.item_button{
  font-size: 0.7rem !important;
margin-left: 1rem !important;
margin-top: 0.5rem !important;
}
.like{
  width: fit-content;
  background:lightgreen;
  font-size: 1rem !important;
  
  position: relative;
  top: -9.65rem;
  z-index: 1;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-right: 0.2rem;
}
.icon{
  position: relative;
  top: 2px;
  margin-left: 0.5rem;
  margin-right: 0.1rem;
}
.full_icon{
  color: red;
}
.one{
  padding-right: 0.4rem;
left: 6.2rem;
}
.off{
  background: pink;
  width: fit-content;
  font-size: 0.8rem !important;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;

  margin-left: 0.4rem;
  padding: 0.1rem;
  border-radius: 5px;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
background:#2196f3;
margin-top:-0.5rem !important;
width: 100% !important;
margin-bottom: 1.5rem;
padding: 0.5rem;
position: sticky !important;

}
.name{
  display: flex;
  width: fit-content;
}
.rest-Logo{
  color: green;
  background: white;
  padding: 0.3rem;
  border-radius: 50%;

}
.cart_h1{
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1rem;

}
.options{
  position: absolute;
  top: 10rem;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 1px 1px 4px;
padding: 1rem;
width: 400px;
margin-bottom: 2rem;
  z-index: 10;
}
.div{
  text-align: center;
  display: flex;
  justify-content: center;
  
}
.option_from{
font-size: 0.8rem !important;
height: 50px !important;
margin:0.5rem !important;
color: white;

}


.quantity_button{
  border: none;
  font-size: 0.4rem;
  background: none;
}
.quantity_icon{
  font-size: 0.8rem !important;
  background: lightblue;
  border-radius: 5px;
}
.close_icon{
  font-size: 2rem !important;


}
.close_icon_button{
  border: none;
  background: none;
  position: absolute;
  right: 1rem;
}
.visible{
  display: inline;
}
.hidden{
  display: none;
}
.cart_data{
  background:rgb(241, 241, 241);
  position: relative;
  bottom: -1rem;
z-index: 4;
width: 100%;
border-radius: 10px;
margin-bottom: 1rem;
padding: 0.5rem;
box-shadow: 1px 1px 4px; 
transition: 0.5s;

}

.cart_button,.cart_butto{
  background: none;
  border: none;
}

.cart_data_under{
  background:white;
  box-shadow: 1px 1px 4px #2196f3;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 10px;

}
.down{
margin-top: 1rem !important;
position: relative;
top: 0.4rem;
background: #000;
color: white;
border-radius: 50%;
}
.show{
  display: block;

}
.under{
  margin-top: -1rem;
}
@media screen and (max-width:600px){
  .options{
    width: 280px !important;
    left: 0.5rem;
    
  }
  
}
